# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
venv/
env/
.env

# Dataset (too large for GitHub)
data/chest_xray/

# Trained model (large file)
models/*.keras
models/*.h5

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
outputs/training_log.csv